// Cards - Work
.card .card-reveal {
	background-color: #0590fc;
	height: 101%;
	color: #ffffff;
}

.card {
	box-shadow: none !important;
}

.card-title {
    font-family: "Roboto Slab",serif;
    color: #ffffff;
}

// Modals - What We Do
