.wrapper {
	width: 95%;
	margin: 0 auto;
}

.section {
	width: 100%;
	height: auto;
}

// Hero Section
.hero {
	text-align: center;
	text-align: center;
	padding: 0;
	position: relative;
	top: -5%;
	
	h1 {
		margin: 0 auto;
		display: block;
	}
		
	img {
		width: 50%;
		height: auto;
		display: block;
		margin: 0 auto;	
	}
	
	p {
		color: $white;
		font-family: $primary;
		font-size: 1rem;
		line-height: 10px;
		
	}
}

.hero-info {
	width: 15%;
	height: auto;
	top: 22%;
	left: 5% !important;
	position: absolute;
	
	img {
		width: 47px;
		height: auto;
		float: left;
		display: block;
	}
	
	a {
		color: $darkgrey;
	}
	
	p {
	    display: block;
	    position: relative;
	    top: 0%;
	    float: left;
	    text-align: left;
	    line-height: 22px;
	    letter-spacing: 0.06em;
	}
	
	h4 {
		color: #fff;
	    text-transform: uppercase;
	    font-size: 1.5rem;
	    display: block;
	    position: absolute;
	    top: 90%;
	    font-weight: 700;
	    letter-spacing: 0.06em;
	}
}

// Work Section
.work {
	margin-top: 5%;
	text-align: center;
	color: $white;
	
	h3 {
		margin: 0;
	}
		
	p {
		margin: 0;
		font-family: $primary;
		letter-spacing: 0.03em;
		font-size: 1rem;
		position: relative;
		top: 10px;
	}
}

.card-title {
	font-family: $primary;
}

.card a {
	color: $blue;
}


.ep-card {
	margin-top: 6%;
}

// Splash 
.splash {
	text-align: center;
	
	img {
		width: 95%;
		height: auto;
	}
}

// About Section
.about {
	padding: 5% 0 0 0;
	
	.col-01 {
		text-align: left;
	}
	
	h3 {
		font-family: $primary;
		margin: 0;
		color: $white;
	}
	
	h4 a {
		font-weight: 500;
		font-size: 1.2rem;
		color: $darkgrey;
	}
	
	.col-02 {
		padding-left: 5px;
		
		img {
			width: 100%;
			max-width: 260px;
			height: auto;
		}
	}
	
	p {
		font-family: $primary;
		color: $white;
		font-size: 0.90rem;
		padding: 0%;
		position: relative;
		z-index: 9;
		font-weight: 300;
		letter-spacing: 0.02rem;
		line-height: 1.5rem;
	}
	
	img {
		width: 100%;
		height: auto;
		position: relative;
		top: -93px;
		left: -25px;
		margin: 0 auto;
	}
}

// Services
.services {
	margin-top: 5%;
	
	h3 {
		color: $white;
		padding-bottom: 25px;
		margin: 0;
	}
	
	h4 {
		color: $white;
		font-size: 2.2rem;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	li {
		font-family: $primary;
		color: $white;
		font-size: 1rem;
		display: block;
		padding-bottom: 10px;
	}
	
	img {
		width: 16px;
		height: 16px;
	}
}

.dropdown-content {
	width: auto !important;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 1rem;
	color: $darkgrey;
	line-height: 2rem;
	padding: 5%;
	text-align: center;
}

.dropdown-content li {
	pointer-events: none;
	padding: 0;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background: $white;
}

// Contact
.contact {
	margin: 0 0 5% 0;
	text-align: center;
	color: $white;
	position: relative;
	top: -100px;
	
	p {
		font-family: $primary;
	}
	
	span {
		display: block;
		font-family: $primary;
		letter-spacing: 0.06em;
		padding-bottom: 15px;
	}
	
	a {
		color: $white;
	}
}

//Footer
.ep-footer {	
	text-align: center;
	position: relative;
    top: -50px;
    
	img {
		width: 100%;
		max-width: 130px;
		height: auto;
		margin: 0 auto;
	}
	
	a {
		color: $white;
		font-size: 0.6rem;
		font-weight: 500;
	}
}

.social {
	padding: 0 0 10px 0;
	
	img {
		width: 27px;
		height: 27px;
	}
}